@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #EFF5F5;
    max-width: 1000px ;
    margin: 0 auto;
}

.search-form{
  padding-top: 5rem;
  position: relative;
}

input{
  width: 200px;
  display: block;
  margin: 2rem auto 2rem;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  margin: 0 auto 0;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #EB6440;
  padding: 8px 32px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #497174 ;
}


a:visited,
a:hover {
  color: #497174;
}

p{
color:#0F0E0E;
}

.books{
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  padding: 20px;
  margin-top: 5rem;
}

.book_items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dotted #d7d9d9;
}

.title{
  text-align: center;
  margin: 2rem;
  font-family: 'Inter', sans-serif;
  color: #497174;
  font-weight: bold;
  font-size: 15px;
}

